body {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, Manrope, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

@font-face {
  font-family: 'Manrope-400';
  src: url('./src//shared//fonts/Manrope-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Manrope-500';
  src: url('./src//shared//fonts/Manrope-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Manrope-600';
  src: url('./src//shared//fonts/Manrope-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
  margin-bottom: 140px;
  padding: 14px 24px;
}

.pagination .page-num {
  display: flex;
  align-items: center;
  font-feature-settings: 'ss04' on;
  font-family: 'Manrope-500', sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  color: #f3f3f3;
  cursor: pointer;
  position: relative;
}

.selected {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 27.8px;
  height: 27px;
  margin-top: 3px;
  background-color: rgba(64, 112, 205, 0.5);
  border-radius: 50%;
  cursor: pointer;
}
